<template>
  <div class="hello-container">
    <div class="content-container">
      <div class="summarizers">
        <card-info
          v-for="(summarizer, index) of summarizers"
          :key="index"
          :title="summarizer.text"
          :value="summarizer.value"
          :color="summarizer.color"
        />
      </div>

      <div class="map">
        <v-img src="../assets/map.png"></v-img>
      </div>
    </div>

    <div class="sidebar-container">
      <v-card class="px-3" height="100%">
        <v-tabs v-model="currentTab" grow>
          <v-tab key="demographic">Dados Demográficos</v-tab>
          <v-tab key="acessibility">Acessibilidade</v-tab>
        </v-tabs>
        <v-tabs-items v-model="currentTab">
          <v-tab-item key="demographic">
            <expandable
              v-for="(section, index) of demographicData"
              :key="index"
              :title="section.title"
            >
              <div class="card-info-container">
                <card-info
                  v-for="(item, index) of section.items"
                  :key="index"
                  :title="item.text"
                  :icon="item.icon"
                  :value="item.value"
                  :color="getColor(index)"
                />
              </div>
            </expandable>
            <v-btn @click="title = 'Outro titulo'">troca titulo</v-btn>
          </v-tab-item>

          <v-tab-item key="acessibility">
            <v-subheader
              >Acessibilidade
              <v-divider class="ml-2"> </v-divider>
            </v-subheader>
            <div class="acessibility-container mb-10">
              <v-card class="acessibility-table">
                <div class="acessibility-title">Transporte</div>
                <div
                  class="table-item"
                  :key="index"
                  v-for="(item, index) of acessibility.general.transport"
                >
                  <span>{{ item.classification }}</span>
                  <span
                    :style="{ fontWeight: 'bold', color: getColor(index) }"
                    >{{ item.value }}</span
                  >
                </div>
              </v-card>
              <v-card class="acessibility-table">
                <div class="acessibility-title">Escolas</div>
                <div
                  class="table-item"
                  :key="index"
                  v-for="(item, index) of acessibility.general.schools"
                >
                  <span>{{ item.text }}</span>
                  <span
                    :style="{ fontWeight: 'bold', color: getColor(index) }"
                    >{{ item.value }}</span
                  >
                </div>
              </v-card>

              <v-card class="acessibility-table">
                <div class="acessibility-title">Hospitais</div>
                <div
                  class="table-item"
                  :key="index"
                  v-for="(item, index) of acessibility.general.hospitals"
                >
                  <span>{{ item.text }}</span>
                  <span
                    :style="{ fontWeight: 'bold', color: getColor(index) }"
                    >{{ item.value }}</span
                  >
                </div>
              </v-card>
            </div>
          </v-tab-item>
        </v-tabs-items>
      </v-card>
    </div>
  </div>
</template>

<script>
import CardInfo from "./CardInfo.vue";
import Expandable from "./Expandable.vue";

const COLORS = ["#53A9D8", "#A92374", "#FF8F28", "#FFC220"];

export default {
  name: "HelloWorld",

  components: { CardInfo, Expandable },

  data() {
    return {
      currentTab: "",
      expandedHeaders: [],
      isOpen: true,
      summarizers: [
        { text: "População", value: "208.494.900" },
        { text: "Domicílios", value: "57.311.943", icon: "expand_arrow" },
        { text: "Renda mínima per capita", value: "R$ 610,25" },
      ],
      demographic: {
        info: [
          { text: "População diurna", value: "130k", icon: "" },
          { text: "População noturna", value: "120k", icon: "" },
          { text: "Qtde Domicílios", value: "30k", icon: "" },
        ],
        family: [
          { text: "Habitação", value: "56k", icon: "" },
          { text: "Vestuário", value: "25k", icon: "" },
          { text: "Higiene", value: "60k", icon: "" },
          { text: "Saúde", value: "120k", icon: "" },
        ],
        age: [
          { text: "Jovem", value: "50k", icon: "" },
          { text: "Adulto", value: "60k", icon: "" },
          { text: "Idoso", value: "30k", icon: "" },
        ],
        space: [
          { text: "Valor do m²", value: "$ 140k", icon: "" },
          { text: "Area do m²", value: "110m²", icon: "" },
          { text: "Densidade populacional", value: "24 por km²", icon: "" },
        ],
      },
      title: "Informações gerais",
      acessibility: {
        general: {
          transport: [
            { classification: "Ótimo", value: "6%" },
            { classification: "Muito bom", value: "9%" },
            { classification: "Bom", value: "15%" },
            { classification: "Ruim", value: "27%" },
            { classification: "Péssimo", value: "43%" },
          ],
          schools: [
            { text: "total", value: 100 },
            { text: "perCapita", value: 2 },
            { text: "private", value: "85%" },
            { text: "public", value: "15%" },
          ],
          hospitals: [
            { text: "total", value: 100 },
            { text: "perCapita", value: 1 },
            { text: "private", value: "75%" },
            { text: "public", value: "25%" },
          ],
        },
        transport: {
          public: [
            { type: "Metrô", value: "Ótimo" },
            { type: "Trem", value: "Bom" },
            { type: "Ônibus", value: "Ruim" },
            { type: "Terminal de ônibus", value: "Péssimo" },
          ],
          personal: [
            { type: "Carro", value: { total: 100000, perPerson: 2 } },
            { type: "Moto", value: { total: 100000, perPerson: 2 } },
          ],
        },
      },
    };
  },

  computed: {
    demographicData() {
      return [
        { title: this.title, items: this.demographic.info },
        //{ title: "Gastos familiares", items: this.demographic.family },
        //{ title: "Idade", items: this.demographic.age },
        //{ title: "Espaço", items: this.demographic.space },
      ];
    },
  },

  methods: {
    getColor(index) {
      return COLORS[index];
    },
  },
};
</script>

<style lang="scss">
.hello-container {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 25px;
  column-gap: 16px;
}

.card-info-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  column-gap: 10px;
}

.info-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  column-gap: 10px;
  text-align: center;

  .item-title {
    font-size: 15px;
    font-weight: bold;
  }

  .item-value {
    font-size: 24px;
  }
}

.acessibility-table {
  padding: 4px;

  .table-item {
    display: flex;
    justify-content: space-between;
  }
}

.acessibility-title {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: center;
}

.summarizers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
}

.sidebar-container {
  flex-grow: 1;
  width: 30%;
}

.content-container {
  flex-grow: 2;
  row-gap: 16px;
  display: flex;
  flex-direction: column;
}
</style>
